In [1]:
from ml_in_finance_ensae.data import load_ff25_and_rf
ff25_excess, rf = load_ff25_and_rf()
ff25_excess.shape, rf.shape

ff25 rows 1194 unique dates 1194
rf rows 1194 unique dates 1194
ff25 duplicated dates: DatetimeIndex([], dtype='datetime64[ns]', name='Unnamed: 0', freq=None)
rf duplicated dates: DatetimeIndex([], dtype='datetime64[ns]', name='Unnamed: 0', freq=None)

((1194, 25), (1194,))

In [2]:
ff25_excess.head()
ff25_excess.describe().loc[["mean","std"]]

,SMALL LoBM,ME1 BM2,ME1 BM3,ME1 BM4,SMALL HiBM,ME2 BM1,ME2 BM2,ME2 BM3,ME2 BM4,ME2 BM5,...,ME4 BM1,ME4 BM2,ME4 BM3,ME4 BM4,ME4 BM5,BIG LoBM,ME5 BM2,ME5 BM3,ME5 BM4,BIG HiBM
mean,0.371772,0.294852,0.303827,0.360174,0.559696,0.533307,0.519743,0.525196,0.514993,0.501262,...,2.782136,2.627018,2.694154,2.627969,2.702454,28.788658,20.480222,15.273463,17.530236,15.014979
std,1.323194,0.863429,0.861968,1.018706,1.778471,2.087817,2.056240,2.052805,1.990206,1.998150,...,13.588747,12.596927,13.297423,12.782963,13.538975,177.745051,110.371138,78.378552,100.763727,85.519928